parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\MySqlBuilder\\:\\:mysqlDatabaseExists\\(\\)\\.$#"
			count: 1
			path: src/MySql/MySqlCreateDatabaseIfNotExists.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/MySql/MySqlEmptyTrash.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\MySqlBuilder\\:\\:mysqlDatabaseExists\\(\\)\\.$#"
			count: 1
			path: src/MySql/MySqlTrashDatabase.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$arrays of function array_merge expects array, mixed given\\.$#"
			count: 1
			path: src/MySql/MySqlTrashDatabase.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: src/SQLite/SQLiteCreateDatabaseIfNotExists.php

		-
			message: "#^Cannot call method make\\(\\) on mixed\\.$#"
			count: 1
			path: src/SchemaMacros.php

		-
			message: "#^Cannot call method singleton\\(\\) on mixed\\.$#"
			count: 1
			path: src/SchemaMacros.php

		-
			message: "#^Method Envor\\\\SchemaMacros\\\\SchemaMacros\\:\\:getMacroForDriver\\(\\) has parameter \\$args with no type specified\\.$#"
			count: 1
			path: src/SchemaMacros.php

		-
			message: "#^Method Envor\\\\SchemaMacros\\\\SchemaMacros\\:\\:registerMacro\\(\\) has parameter \\$args with no type specified\\.$#"
			count: 1
			path: src/SchemaMacros.php

		-
			message: "#^Trying to invoke mixed but it's not a callable\\.$#"
			count: 1
			path: src/SchemaMacros.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: src/SchemaMacros.php

		-
			message: "#^Class Envor\\\\SchemaMacros\\\\SchemaMacrosCollection extends generic class Illuminate\\\\Support\\\\Collection but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/SchemaMacrosCollection.php
