parameters:
	ignoreErrors:
		-
			message: "#^Call to method createDatabase\\(\\) on an unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbCreateDatabaseIfNotExists.php

		-
			message: "#^Call to method databaseExists\\(\\) on an unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbCreateDatabaseIfNotExists.php

		-
			message: "#^PHPDoc tag @mixin contains unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbCreateDatabaseIfNotExists.php

		-
			message: "#^PHPDoc tag @var for variable \\$this contains unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbCreateDatabaseIfNotExists.php

		-
			message: "#^Call to method getConnection\\(\\) on an unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbDatabaseExists.php

		-
			message: "#^PHPDoc tag @mixin contains unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbDatabaseExists.php

		-
			message: "#^PHPDoc tag @var for variable \\$this contains unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbDatabaseExists.php

		-
			message: "#^Call to method dropDatabaseIfExists\\(\\) on an unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbEmptyTrash.php

		-
			message: "#^Call to method getConnection\\(\\) on an unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbEmptyTrash.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/MariaDb/MariaDbEmptyTrash.php

		-
			message: "#^PHPDoc tag @mixin contains unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbEmptyTrash.php

		-
			message: "#^PHPDoc tag @var for variable \\$this contains unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbEmptyTrash.php

		-
			message: "#^Parameter \\#1 \\$object of function get_object_vars expects object, mixed given\\.$#"
			count: 1
			path: src/MariaDb/MariaDbEmptyTrash.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/MariaDb/MariaDbEmptyTrash.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/MariaDb/MariaDbEmptyTrash.php

		-
			message: "#^Call to method MariaDbDatabaseExists\\(\\) on an unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbTrashDatabase.php

		-
			message: "#^Call to method createDatabase\\(\\) on an unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbTrashDatabase.php

		-
			message: "#^Call to method dropDatabaseIfExists\\(\\) on an unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 2
			path: src/MariaDb/MariaDbTrashDatabase.php

		-
			message: "#^Call to method getConnection\\(\\) on an unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbTrashDatabase.php

		-
			message: "#^Call to method getTableListing\\(\\) on an unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbTrashDatabase.php

		-
			message: "#^Call to method setConnection\\(\\) on an unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbTrashDatabase.php

		-
			message: "#^PHPDoc tag @mixin contains unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbTrashDatabase.php

		-
			message: "#^PHPDoc tag @var for variable \\$this contains unknown class Illuminate\\\\Database\\\\Schema\\\\MariaDbBuilder\\.$#"
			count: 1
			path: src/MariaDb/MariaDbTrashDatabase.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$arrays of function array_merge expects array, mixed given\\.$#"
			count: 1
			path: src/MariaDb/MariaDbTrashDatabase.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\MySqlBuilder\\:\\:databaseExists\\(\\)\\.$#"
			count: 1
			path: src/MySql/MySqlCreateDatabaseIfNotExists.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/MySql/MySqlEmptyTrash.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\MySqlBuilder\\:\\:mysqlDatabaseExists\\(\\)\\.$#"
			count: 1
			path: src/MySql/MySqlTrashDatabase.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$arrays of function array_merge expects array, mixed given\\.$#"
			count: 1
			path: src/MySql/MySqlTrashDatabase.php

		-
			message: "#^Cannot call method make\\(\\) on mixed\\.$#"
			count: 1
			path: src/SchemaMacros.php

		-
			message: "#^Cannot call method singleton\\(\\) on mixed\\.$#"
			count: 1
			path: src/SchemaMacros.php

		-
			message: "#^Method Envor\\\\SchemaMacros\\\\SchemaMacros\\:\\:getMacroForDriver\\(\\) has parameter \\$args with no type specified\\.$#"
			count: 1
			path: src/SchemaMacros.php

		-
			message: "#^Method Envor\\\\SchemaMacros\\\\SchemaMacros\\:\\:registerMacro\\(\\) has parameter \\$args with no type specified\\.$#"
			count: 1
			path: src/SchemaMacros.php

		-
			message: "#^Trying to invoke mixed but it's not a callable\\.$#"
			count: 1
			path: src/SchemaMacros.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: src/SchemaMacros.php

		-
			message: "#^Class Envor\\\\SchemaMacros\\\\SchemaMacrosCollection extends generic class Illuminate\\\\Support\\\\Collection but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/SchemaMacrosCollection.php
